.main-menu {
    width: 1170px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    position: relative;
    z-index: 9999;
}

.navbar {
    background-color: #fff;
    z-index: 999;
    position: sticky;
    width: 100%;
    transition: background-color 0.3s ease;
}

.scrolled {
    width: 100%;
    position: fixed;
    top: -80px;
    opacity: 1;
    visibility: visible;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.submenu {
    background-color: #fff;
    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, .15);
    left: 0;
    padding: 20px 0 22px;
    position: absolute;
    top: 100%;
    transform: rotateX(90deg);
    transform-origin: center top 0;
    transition: all .5s ease 0s;
    visibility: hidden;
    width: max-content;

}

.submenu li {
    padding: 5px 15px;
}

.navigation:hover .submenu {
    transform: rotateX(0deg);
    visibility: visible;
}

.navigation> :hover .submenu {
    transform: rotateX(0deg);
    visibility: visible;
}

.nav-logo,
.nav-icons {
    display: none;
}

.visible {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.cart-icon {
    position: relative;
}

.cart-change {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #000;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
}








@media (max-width: 1024px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 1280px) {
    .main-menu {
        width: auto !important;
    }
}